body{
  margin: 0;
  box-sizing: border-box;
  font-family: '[Poppins]';
  color: hsl(234, 12%, 34%);
  font-size: 15px;
}

.header{
  padding: 20px 30%;
  background-color: hsl(0, 0%, 98%);
  text-align: center;
}

h1{
  font-weight: lighter;
}
h2{
  font-weight: bolder;
}

p{
  color:hsl(229, 6%, 66%);
}
.wrapper{
  padding: 20px 10%;
  background-color: hsl(0, 0%, 98%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  grid-template-rows: repeat(5, 60px);
}

.card{
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0;
}

.icon{  float: right;
  height: 20%;
  margin-top: 40px;
}

.supervisor{
  grid-row: 2/ span 3;
  border-top-color: hsl(180, 62%, 55%);
  border-top-style: outset;
}

.team-builder{
  grid-row: 1/ span 3;
  border-top-color: hsl(0, 78%, 62%);
  border-top-style: outset;
}

.karma{
  grid-row: 4/ span 5;
  border-top-color: hsl(34, 97%, 64%);
  border-top-style: outset;
}
.calculator{
  grid-row: 2/ span 3;
  border-top-color: hsl(212, 86%, 64%);
  border-top-style: outset;
}

@media only screen and (max-width: 700px){

.header{
    padding: 20px 10%;
  }

.wrapper{
 display: grid;
 grid-template-columns: auto;
 grid-template-rows: repeat(4, auto);
}

.supervisor{
  grid-row: 1;

}

.team-builder{
  grid-row: 2;

}

.karma{
  grid-row: 3;

}
.calculator{
  grid-row: 4;

}

}

footer{
  padding: 30px 10%;
  background-color: hsl(0, 0%, 98%);
}
